

.otstup{
    position: absolute;
    top: 200px;
    left: 50px;
}



#first{
    left: 20px;
}

.numb{
    width: 10px;
    height: 40px;
    border:0px;
}

.form-contr{
    border: 0;
}

.upper{
    position: relative;
    bottom: 20px;
}

.equal{
    width: 40px;
}

.ind{
    width: 30px;
    height: 30px;
    position: relative;
    left: 200px;
    top: 1px;
    box-sizing: border-box;
    padding: 0px;
}

.sdwig{
    position: relative;
    left: 10%;
}


.text_for_degree{
    font-size:2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.answ{
    width: 200px;
}

.navbar-dark{
    color: "red";
}

.navig_text{
    color: "white";
}