

.otstup{
    position: absolute;
    top: 100px;
    left: 50px;
}

.otst_dop{
    position: relative;
    top: 70px;
}

.ot{
    position: absolute;
    top: 200px;
}

.ot1{
    position: absolute;
    top: 300px;
}

#first{
    left: 20px;
}

.numb{
    width: 10px;
    height: 40px;
    border:0px;
}

.form-contr{
    border: 0;
}

.upper{
    position: relative;
    bottom: 20px;
}

.equal{
    width: 40px;
}

.ind{
    width: 30px;
    height: 30px;
    position: relative;
    left: 200px;
    top: 1px;
    box-sizing: border-box;
    padding: 0px;
}

.sdwig{
    position: absolute;
}


.text_for_degree{
    font-size:2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.answ{
    width: 200px;
}

.navbar-dark{
    color: "red";
}

.navig_text{
    color: "white";
}


.asind{
    width: 50px;
}

#numka{
    position: relative;
    top: 30px
}

#numka{
    position: relative;
    top: 25px
}

#equal{
    position: relative;
    top: 25px;
}

#answer_numka_dop{
    position: relative;
    top: 25px;

}

.otstup_2{
    position: relative;
    top: 38px
}

.otstup_3{
    position: absolute;
    top: 450px
}

.answ2{
    width: 600px;
}

#eq{
    position: relative;
    left: -33px;
}

.for_trans{
    width: 300px;
}

#eq_3{
    position: relative;
    left: 100px;
}

#deg_3{
    position: relative;
    left: 250px;
    width: 80px;
}

#answer_3{
    width: 300px;
    position: relative;
    left: 120px;
}

.otst{
    position: relative;
    top: 20px
}

